<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Pedidos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<header class="menu-superior">
    <nav>
        <ul>
            <li><a href="/Index">Início</a></li>
            <li class="cadastros-dropdown">
                <p>Cadastros</p>
                <ul class="submenu">
                    <li><a href="/cadastroCliente">Cliente</a></li>
                    <li><a href="/cadastroProduto">Produto</a></li>
                    <li><a href="/cadastroEstoque">Estoque</a></li>
                    <li><a href="/pedidos/novo">Pedido</a></li>
                </ul>
            </li></li>
            <p>Relatórios</p>
            <li><a href="/pedidos/relatorio">Pedidos</a></li>
            <li><a href="/cadastroProduto/relatorio">Cliente</a></li>
            <li><a href="/cadastroProduto/relatorio">Produto</a></li>
            <li><a href="/cadastroEstoque/relatorio">Estoque</a></li>
        </ul>
    </nav>
</header>

<section class="container">

    <h1 class="titulo">Produtos Cadastrados</h1>

    <a href="/cadastroProduto" class="btn-cadastrar">Novo Produto</a>

    <table class="tabela-itens">
        <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Preço</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="p : ${produto}">
            <td th:text="${p.idProduto}"></td>
            <td th:text="${p.nome}"></td>
            <td th:text="${p.preco}"></td>

        </tr>
        </tbody>
    </table>

</section>

</body>
</html>
