<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

<header class="menu-superior">
    <nav>
        <ul>
            <li><a href="/Index">Início</a></li>

            <li class="cadastros-dropdown">
                <p>Cadastros</p>
                <ul class="submenu">
                    <li><a href="/cadastroCliente">Cliente</a></li>
                    <li><a href="/cadastroProduto">Produto</a></li>
                    <li><a href="/cadastroEstoque">Estoque</a></li>
                    <li><a href="/pedidos/novo">Pedido</a></li>
                </ul>
            </li>

            <p>Relatórios</p>
            <li><a href="/pedidos/relatorio">Pedidos</a></li>
            <li><a href="/cadastroCliente/relatorio">Cliente</a></li>
            <li><a href="/cadastroProduto/relatorio">Produto</a></li>
            <li><a href="/cadastroEstoque/relatorio">Estoque</a></li>
        </ul>
    </nav>
</header>

<section class="container">

    <h1 class="titulo">Clientes Cadastrados</h1>

    <a href="/cadastroCliente" class="btn-cadastrar">Novo Cliente</a>

    <table class="tabela-lista">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Ações</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="c : ${lista}">
            <td th:text="${c.idCliente}"></td>
            <td th:text="${c.nome}"></td>
            <td th:text="${c.telefone}"></td>
            <td th:text="${c.endereco.cep + ' - ' + c.endereco.numero}"></td>

            <td class="acoes">
                <a th:href="@{'/cadastroCliente/editar/' + ${c.idCliente}}"
                   class="btn-editar">Editar</a>

                <a th:href="@{'/cadastroCliente/excluir/' + ${c.idCliente}}"
                   onclick="return confirm('Tem certeza que deseja excluir este cliente?');"
                   class="btn-excluir">Excluir</a>
            </td>
        </tr>
        </tbody>
    </table>

</section>

</body>
</html>
