<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>

<header class="menu-superior">
    <nav>
        <ul>
            <li><a href="/Index">Início</a></li>
            <li class="cadastros-dropdown">
                <p>Cadastros</p>
                <ul class="submenu">
                    <li><a href="/cadastroCliente">Cliente</a></li>
                    <li><a href="/cadastroProduto">Produto</a></li>
                    <li><a href="/cadastroEstoque">Estoque</a></li>
                    <li><a href="/pedidos/novo">Pedido</a></li>
                </ul>
            </li></li>
            <li><a href="#">Relatórios</a></li>
        </ul>
    </nav>
</header>

<section class="container">

    <h1 class="titulo">PRODUTO</h1>

    <div class="principal">

        <form th:action="@{/cadastroProduto}" th:object="${produto}" method="post">

            <div class="grupo">
                <label>Nome Produto: <span class="obrigatorio">*</span></label>
                <input type="text" th:field="*{nome}" placeholder="Digite o nome do produto">
                <small th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="erro"></small>
            </div>

            <!-- CAMPO NOME -->
            <div class="grupo">
                <label>Preço: <span class="obrigatorio">*</span></label>
                <input type="text" th:field="*{preco}" placeholder="Digite o nome do cliente">
                <small th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}" class="erro"></small>
            </div>


            <button type="submit" class="btn-cadastrar">
                <span th:text="${produto.idProduto != null ? 'ATUALIZAR' : 'CADASTRAR'}"></span>
            </button>
        </form>

    </div>
</section>

</body>
</html>
