<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produto</title>
    <link rel="stylesheet" href="/static/cadastro-produto.css">
</head>
<body>

<!-- MENU SUPERIOR -->
<header class="menu-superior">
    <nav>
        <ul>
            <li><a href="#">Início</a></li>
            <li><a href="#">Cadastros</a></li>
            <li><a href="#">Relatórios</a></li>
        </ul>
    </nav>
</header>

<section class="container">

    <h1 class="titulo">CADASTRO DE PRODUTO</h1>

    <div class="card-principal">


        <form class="formulario" th:action="@{/produtos/salvar}" method="post">

            <div class="grupo tipo-produto">
                <label class="label">TIPO DE PRODUTO</label>

                <label class="radio-container">
                    <input type="radio" name="tipo" value="MATERIA_PRIMA">
                    <span class="radio-custom"></span>
                    MATERIA PRIMA
                </label>

                <label class="radio-container">
                    <input type="radio" name="tipo" value="MERCADORIA">
                    <span class="radio-custom"></span>
                    MERCADORIA
                </label>
            </div>

            <div class="grupo">
                <label>Identificador de Produto: <span class="obrigatorio">*</span></label>
                <input type="text" name="identificadorProduto" placeholder="Coloque o Identificador do Produto">
            </div>

            <div class="grupo">
                <label>Identificador de Estoque: <span class="obrigatorio">*</span></label>
                <input type="text" name="identificadorEstoque" placeholder="Digite o Identificador de estoque">
            </div>

            <div class="grupo">
                <label>Valor: <span class="obrigatorio">*</span></label>
                <div class="valor-container">
                    <span class="moeda">$</span>
                    <input type="number" step="0.01" name="valor" placeholder="Digite o valor do produto">
                </div>
            </div>

            <div class="grupo">
                <label>Nome do Fornecedor: <span class="obrigatorio">*</span></label>
                <input type="text" name="fornecedor" placeholder="Digite o nome da empresa">
            </div>

            <button type="submit" class="btn-cadastrar">CADASTRAR</button>
        </form>



    </div>
</section>

</body>
</html>
