<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>

<header class="menu-superior">
    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/cadastroEstoque">Clientes</a></li>
            <li><a href="#">Relatórios</a></li>
        </ul>
    </nav>
</header>

<section class="container">

    <h1 class="titulo">ESTOQUE</h1>

    <div class="principal">

        <form th:action="@{/cadastroEstoque}" th:object="${estoque}" method="post">

            <div class="grupo">
                <label>Cód Produto: <span class="obrigatorio">*</span></label>
                <input type="text" th:field="*{produto}" placeholder="Digite o nome do cliente">
                <small th:if="${#fields.hasErrors('produto')}" th:errors="*{produto}" class="erro"></small>
            </div>

            <!-- CAMPO NOME -->
            <div class="grupo">
                <label>Quantidade: <span class="obrigatorio">*</span></label>
                <input type="text" th:field="*{quantidade}" placeholder="Digite o nome do cliente">
                    <small th:if="${#fields.hasErrors('quantidade')}" th:errors="*{quantidade}" class="erro"></small>
            </div>


            <button type="submit" class="btn-cadastrar">
                <span th:text="${estoque.idEstoque != null ? 'ATUALIZAR' : 'CADASTRAR'}"></span>
            </button>
        </form>

    </div>
</section>

</body>
</html>
