
<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produto</title>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}">
</head>
<body>

<header class="menu-superior">
    <nav>
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/cadastroPedido">Produto</a></li>
            <li><a href="#">Relatórios</a></li>
        </ul>
    </nav>
</header>

<section class="container">

    <h1 class="titulo">CADASTRO DE PRODUTO</h1>

    <div class="principal">

        <form th:action="@{/cadastroPedido}" th:object="${pedido}" method="post">


            <div class="grupo">
                <label>Nome do Produto: <span class="obrigatorio">*</span></label>
                <input type="text" th:field="*{dataAtualizacao}" placeholder="Digite a data do pedido">
                <small th:if="${#fields.hasErrors('dataAtualizacao')}" th:errors="*{dataAtualizacao}" class="erro"></small>
            </div>

            <div class="grupo">
                <label>Status: <span class="obrigatorio">*</span></label>
                <input type="text" th:field="*{status}" placeholder="Digite o preco">
                <small th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="erro"></small>
            </div>

            <button type="submit" class="btn-cadastrar">
                <span th:text="${pedido.idPedido != null ? 'ATUALIZAR' : 'CADASTRAR'}"></span>
            </button>
        </form>

    </div>
</section>


</body>
</html>


